@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.containerLogoText {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

.containerPage {
  width: 90vw;
  display: flex;
  justify-content: center;
  padding: 2rem;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.containerCard {
  width: 20rem;
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  /* background-color: rgb(245, 245, 245); */
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem;
  box-shadow: 3px 3px 6px rgb(167, 167, 167);
  align-items: center;
  flex-shrink: 0;
}

.img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.nombre {
  margin: 0.5rem auto;
  font-size: 1.5rem;
  background-color: rgba(58, 156, 237, 0.486);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 0.5rem;
}


.imgSingle {
  height: 40vw;
  width: 70vw;
  object-fit: cover;
  margin: 2rem;
}

.containerInfo {
  display: flex;
  flex-direction: column;
}
